<div class="row justify-content-center my-5">
  <div class="col-md-4 mb-4" *ngFor="let formation of formations">
    <div [ngSwitch]="formation.domaine">
      <div
        *ngSwitchCase="'IT'"
        class="card p-3 text-center h-100"
        style="background-color: rgb(136, 148, 202)"
      >
        <img src="{{ formation.image }}" class="card-img-top mb-3" />
        <div class="card-body">
          <h2 class="card-title mb-3">{{ formation.nom }}</h2>
          <p class="card-text">Domaine : {{ formation.domaine }}</p>
          <p class="card-text">Stack technique : {{ formation.stack }}</p>
          <p class="card-text">Date de rentrée : {{ formation.dates }}</p>
          <p class="card-text">Titre obtenu : {{ formation.titre }}</p>
          <p class="card-text">Nombre de places : {{ formation.places }}</p>
          <p class="card-text">Prix de la formation : {{ formation.tarif }}</p>
          <!-- Bouton pour déclencher le modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            S'inscrire
          </button>
          <app-registration-form-component></app-registration-form-component>
          <div *ngIf="formation.places <= 15">
            <p>Formation complète</p>
          </div>
        </div>
      </div>
      <div
        *ngSwitchCase="'Dev'"
        class="card p-3 text-center h-100"
        style="background-color: rgb(148, 209, 148)"
      >
        <img src="{{ formation.image }}" class="card-img-top mb-3" />
        <div class="card-body">
          <h2 class="card-title mb-3">{{ formation.nom }}</h2>
          <p class="card-text">Domaine : {{ formation.domaine }}</p>
          <p class="card-text">Stack technique : {{ formation.stack }}</p>
          <p class="card-text">Date de rentrée : {{ formation.dates }}</p>
          <p class="card-text">Titre obtenu : {{ formation.titre }}</p>
          <p class="card-text">Nombre de places : {{ formation.places }}</p>
          <p class="card-text">Prix de la formation : {{ formation.tarif }}</p>
          <!-- Bouton pour déclencher le modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            S'inscrire
          </button>
          <app-registration-form-component></app-registration-form-component>
          <div *ngIf="formation.places <= 15">
            <p>Formation complète</p>
          </div>
        </div>
      </div>
      <div
        *ngSwitchCase="'Design'"
        class="card p-3 text-center h-100"
        style="background-color: rgb(223, 180, 39)"
      >
        <img src="{{ formation.image }}" class="card-img-top mb-3" />
        <div class="card-body">
          <h2 class="card-title mb-3">{{ formation.nom }}</h2>
          <p class="card-text">Domaine : {{ formation.domaine }}</p>
          <p class="card-text">Stack technique : {{ formation.stack }}</p>
          <p class="card-text">Date de rentrée : {{ formation.dates }}</p>
          <p class="card-text">Titre obtenu : {{ formation.titre }}</p>
          <p class="card-text">Nombre de places : {{ formation.places }}</p>
          <p class="card-text">Prix de la formation : {{ formation.tarif }}</p>
          <!-- Bouton pour déclencher le modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            S'inscrire
          </button>
          <app-registration-form-component></app-registration-form-component>
          <div *ngIf="formation.places <= 15">
            <p>Formation complète</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
