.it {
    background-color: blue;
    color: rgb(12, 12, 12);
  }
  
  .design {
    background-color: yellow;
    color: rgb(0, 0, 0);
  }
  
  .dev {
    background-color: green;
    color: rgb(0, 0, 0);
  }
  