<h1>Entrainement exercices</h1>
<p *ngIf="statuUser === 'deconnecte'">
  <button>Se connecter</button>
  <button>S'inscrire</button>
</p>
<div *ngIf="statuUser === 'connecte'">
  <button>Se déconnecter</button>
  <div [ngSwitch]="roleUser">
    <span *ngSwitchCase="'client'">Tu es client</span>
    <span *ngSwitchCase="'employe'">Tu es employé</span>
    <span *ngSwitchDefault>Tu es admin</span>
  </div>
</div>

<button (click)="bonjour()">Bonjour</button>
<p *ngIf="isVisible">{{ hello }}</p>

<div>
  <button (click)="afficher('glaces')">Glaces</button>
  <button (click)="afficher('smoothie')">Smoothie</button>
  <button (click)="afficher('fruits')">Fruits</button>
</div>
<div>
  <img [src]="imgUrl" alt="" />
</div>

<div class="row">
  <div class="col-md-6">
    <select name="" id="" (change)="selectImage($event)">
      <option value="">Sélectionner</option>
      <option value="Foot">Foot</option>
      <option value="Natation">Natation</option>
      <option value="Course">Course à pied</option>
    </select>
  </div>
</div>
<div class="col-md-6">
  <img [src]="imgSport" alt="" />
</div>
<div [ngClass]="{ active: isActive, disabled: isDisabled }">
  Ce texte change de style
</div>
<button (click)="isActive = !isActive">Toogle actif</button>
<button (click)="isDisabled = !isDisabled">Toogle non actif</button>
<div
  [ngStyle]="{
    'background-color': isLight ? 'yellow' : 'white',
    'font-size.px': fontSize
  }"
>
  Le texte a un style dynamique
</div>

<button (click)="isLight = !isLight">Toggle highlight</button>
<button (click)="fontSize = fontSize + 2">Augmente fontsize</button>
<button (click)="fontSize = fontSize - 2">Diminue fontsize</button>

<h2>{{ salut }}</h2>
<h3>{{ resultat }}</h3>
<!-- Implémentation du service bonjour ici -->
