<h1>Entrainement exercices</h1>
<p *ngIf="statuUser === 'deconnecte'">
  <button>Se connecter</button>
  <button>S'inscrire</button>
</p>
<div *ngIf="statuUser === 'connecte'">
  <button>Se déconnecter</button>
  <div [ngSwitch]="roleUser">
    <span *ngSwitchCase="'client'">Tu es client</span>
    <span *ngSwitchCase="'employe'">Tu es employé</span>
    <span *ngSwitchDefault>Tu es admin</span>
  </div>
</div>

<button (click)="bonjour()">Bonjour</button>
<p *ngIf="isVisible">{{ hello }}</p>

<div>
  <button (click)="afficher('glaces')">Glaces</button>
  <button (click)="afficher('smoothie')">Smoothie</button>
  <button (click)="afficher('fruits')">Fruits</button>
</div>
<div>
  <img [src]="imgUrl" alt="" />
</div>

<div class="row">
  <div class="col-md-6">
    <select name="" id="" (change)="selectImage($event)">
      <option value="">Sélectionner</option>
      <option value="Foot">Foot</option>
      <option value="Natation">Natation</option>
      <option value="Course">Course à pied</option>
    </select>
  </div>
</div>
<div class="col-md-6">
  <img [src]="imgSport" alt="" />
</div>
<div [ngClass]="{ active: isActive, disabled: isDisabled }">
  Ce texte change de style
</div>
<button (click)="isActive = !isActive">Toogle actif</button>
<button (click)="isDisabled = !isDisabled">Toogle non actif</button>
<div
  [ngStyle]="{
    'background-color': isLight ? 'yellow' : 'white',
    'font-size.px': fontSize
  }"
>
  Le texte a un style dynamique
</div>

<button (click)="isLight = !isLight">Toggle highlight</button>
<button (click)="fontSize = fontSize + 2">Augmente fontsize</button>
<button (click)="fontSize = fontSize - 2">Diminue fontsize</button>

<h2>{{ salut }}</h2>
<h3>{{ resultat }}</h3>

<!-- <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <input type="text" name="username" [(ngModel)]="username" required="" />
  <input
    type="password"
    name="password"
    [(ngModel)]="password"
    required=""
    minlength="6"
  />
  <button [disabled]="!loginForm.valid">Connexion</button>
</form> -->

<div class="container">
  <form (ngSubmit)="submit()" [formGroup]="form">
    <p>message : {{ form.controls["name"].errors | json }}</p>
    <!--Pour les afficher les erreurs des validators-->
    @if (form.controls['name'].invalid && form.controls['name'].touched ||
    form.controls['name'].dirty) { @if
    (form.controls['name'].errors?.['minlength']) {
    <div class="alert alert-danger">trop court</div>
    } @if (form.controls['name'].errors?.['maxlength']) {
    <div class="alert alert-danger">trop long</div>
    } @if (form.controls['name'].errors?.['interdit']) {
    <div class="alert alert-danger">Mot interdit</div>
    } }
    <div class="mb-3 row">
      <label for="name" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-10 input-group">
        <span class="input-group-text">
          <i class="bi bi-person-circle"></i>
        </span>
        <input
          id="name"
          type="text"
          class="form-control"
          formControlName="name"
        />
      </div>
    </div>
    <p>message : {{ form.controls["email"].errors | json }}</p>
    <!--Pour les afficher les erreurs des validators-->
    @if (form.controls['email'].invalid && form.controls['email'].touched ||
    form.controls['email'].dirty) { @if
    (form.controls['email'].errors?.['email']) {
    <div class="alert alert-danger">Ceci n'est pas un mail valide.</div>
    }}
    <div class="mb-3 row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10 input-group">
        <span class="input-group-text">
          <i class="bi bi-envelope"></i>
        </span>
        <input
          id="email"
          type="email"
          class="form-control"
          formControlName="email"
        />
      </div>
    </div>
    <p>message : {{ form.controls["password"].errors | json }}</p>
    <!--Pour les afficher les erreurs des validators-->
    @if (form.controls['password'].invalid && form.controls['password'].touched
    || form.controls['password'].dirty) { @if
    (form.controls['password'].errors?.['requis']) {
    <div class="alert alert-danger">
      Le mot de passe doit contenir au moins un caractère spécial
    </div>
    }}
    <div class="mb-3 row">
      <label for="password" class="col-sm-2 col-form-label"
        >Mot de passe :</label
      >
      <div class="col-sm-10 input-group">
        <span class="input-group-text">
          <i class="bi bi-envelope"></i>
        </span>
        <input
          id="password"
          type="password"
          class="form-control"
          formControlName="password"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 offset-sm-2">
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
  </form>
</div>
