<div class="container my-4">
  <div class="row align-items-center border shadow p-3 m-4">
    <div class="col-md-6">
      <h1>HUMAN BOOSTER, UNE HISTOIRE D’INGÉNIERIE</h1>
      <p>
        En 2007, Human Booster naît avec une ambition forte : Toute entreprise,
        même la plus petite, doit pouvoir bénéficier d’accompagnements
        personnalisés lui permettant de pérenniser et développer son activité.
        Depuis la création, nous restons fidèles à notre aspiration première,
        accompagner toute structure ayant la volonté d’évoluer et de sauter le
        pas. Nous exerçons et développons notre activité en ingénierie de la
        compétence autour de deux grands axes : ingénierie de l’innovation
        (conseil en management, accompagnement à la transition digitale,
        innovation pédagogique…), ingénierie de la performance (édition
        logicielle, aide au choix, innovation managériale).
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="https://images.unsplash.com/photo-1484712401471-05c7215830eb?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="img-fluid shadow-lg"
        alt="Human Booster Image"
      />
    </div>
  </div>
</div>
