<div>
  @for (article of articles; track article.id) {
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{ article.title }}</h5>
      <p class="card-text">{{ article.body }}</p>
      <h2>Auteur.ice : {{ getUserName(article.userId) }}</h2>
      <span>{{ article.id }}</span>
      <a routerLink="/blog/{{ article.id }}" class="btn btn-primary"
        >Voir les détails</a
      >
    </div>
  </div>
  }
</div>
<div>
  @for (comment of comments; track comment.id) {
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{ comment.name }}</h5>
      <h6 class="card-text">{{ comment.email }}</h6>
      <p class="card-text">{{ comment.body }}</p>
      <span>{{ comment.id }}</span>
    </div>
  </div>
  }
</div>
