<div
  class="bg-image"
  style="
    background-image: url('https://images.unsplash.com/photo-1442458370899-ae20e367c5d8?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    padding: 220px;
  "
>
  <div
    class="mx-auto text-center"
    style="color: rgb(255, 255, 255); width: 80%"
  >
    <h1 class="mb-4">L’ÉCOLE DU NUMÉRIQUE ET DES POTENTIELS</h1>
    <h2>
      Transformez vos codes avec Human Booster, l’école nouvelle génération.
    </h2>
  </div>
</div>
