<div
  class="position-relative bg-image"
  style="
    background-image: url('https://img.freepik.com/photos-gratuite/femme-europeenne-agee-reflechie-reveuse-garde-levres-arrondies-regards-cote-pense-quelque-chose-agreable-vetue-vetements-mode_273609-50096.jpg?w=826&t=st=1721138437~exp=1721139037~hmac=66ba5528e98250ef70b19a3a55c22e90f587a870d2472073ab7a1c71be136ff0');
    background-size: cover;
    height: 500px;
  "
>
  <div class="container position-relative h-100">
    <div class="row h-100 align-items-center">
      <div class="col-md-6 offset-md-6 text-white text-center">
        <h1 class="mb-4">L’ÉCOLE DU NUMÉRIQUE ET DES POTENTIELS</h1>
        <h2 class="mb-4">
          Transformez vos codes avec Human Booster, l’école nouvelle génération.
        </h2>
        <a class="btn btn-primary mt-3" routerLink="/programme"
          >Nos programmes</a
        >
      </div>
    </div>
  </div>
</div>
<h3>{{ resultat }}</h3>
<app-presentation></app-presentation>
